$blue-1: #D5F9FD;
$blue-2: #CEF3FA;
$blue-3: #C7ECF8;
$blue-4: #C0E6F5;
$blue-5: #BAE0F3;
$blue-6: #B3DAF1;
$blue-7: #ACD4EE;
$blue-8: #A5CDEC;
$blue-9: #9EC7E9;
$blue-10: #97C1E7;
$blue-11: #88AED4;
$blue-12: #799CC0;
$blue-13: #6A89AD;
$blue-14: #5B7699;
$blue-15: #4C6486;
$blue-16: #3C5173;
$blue-17: #2D3E5F;
$blue-18: #1E2B4C;
$blue-19: #0F1938;
